.card-img-top {
    height: 300px;
}

body {
    background-image: url(../assets/backgrounds/pizza1.png);
    font-family: 'Courgette', cursive;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    text-align: center;
    background-image: url(../assets/backgrounds/pizzajumbotron.png);
}

.cart {
    color: purple;
    background-color: black;
}