.card-img-top {
    height: 300px;
}

body {
    background-image: url(../assets/backgrounds/pizza1.png);
    font-family: 'Courgette', cursive;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    text-align: center;
    background-image: url(../assets/backgrounds/pizzajumbotron.png);
}

.cart {
    background-color: white;
    color : black;
    display: none;
}
.check-out {
    background-color: white;
    color: black;
}

#appendedorders {
    cursor: pointer;
}

#appendedorders:hover {
    text-decoration: underline;
}

#appendedorders2 {
    cursor: pointer;
}

#appendedorders2:hover {
    text-decoration: underline;
}

#appendedorders3 {
    cursor: pointer;
}

#appendedorders3:hover {
    text-decoration: underline;
}

.card {
    background-color: transparent;
    color: white;
}